<div style="text-align:center">
  <h1>
    Witamy w grze {{ title }}!
  </h1>
  <div class=row>
    <!-- INVESTMENTS -->
    <div class="col-sm-3" style="background-color:rgb(108, 153, 115);">
      <p>Inwestycje</p>
      <app-investments></app-investments>
    </div>
    <!-- CLICKER -->
    <div class="col-sm-6" style="background-color:rgb(96, 96, 138);">
      <img class="img-circle" (click)="clicker.onClick()" width="100" alt="Angular Logo" src="../assets/grosz.png">
      <!-- STARE -->
      <p align="center">Twój stan konta to: {{clicker.getResoult(clicker.account)}} groszy!
      </p>
      <p style="font-size: 300%">
        <div class=row>
          <div class="col-5"></div>
          <div class="col-2">
            <b>
              <a href=#>
                <div (click)="clicker.upgrade()">ULEPSZ</div>
              </a>
            </b>
          </div>
          <div class="col-5"></div>
        </div>
        <p align=center>Koszt to tylko 10 groszy!</p>
        <app-no-cash-alert></app-no-cash-alert>
    </div>
    <!-- NOWA WERSJA -->
    <div class="col-sm-3" style="background-color:rgb(108, 153, 115);">
      <img class="img-circle" (click)="clicker.onEvent()" width="100" alt="Angular Logo" src="../assets/grosz.png">
      <!-- NOWE -->
      <!-- <p align="center">Twój stan konta to: <br> {{account.getResoult(Account.cash)}} groszy!
    </p> -->
    </div>
  </div>
  <!-- LEGACY -->
  <p>
    <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  </p>