<div style="text-align:center">
  <h1>
    Witamy w grze {{ title }}!
  </h1>
  <div class=row>
    <!-- INWESTMENTS -->
    <div class="col-sm-3" style="background-color:rgb(108, 153, 115);">
      <p>Inwestycje</p>
      <app-investments></app-investments>
    </div>
    <!-- CLICKER -->
    <div class="col-sm-6" style="background-color:rgb(96, 96, 138);">
      <!-- <img (click)="onSelect(clicker.onClick())" width="200" alt="Angular Logo" src="http://monetowo.pl/img/2017-1-Grosz-Wzor-2017-Rewers-69836.jpg"> -->
      <img class="img-circle" (click)="clicker.onClick()" width="200" alt="Angular Logo" src="../assets/grosz.png">
      <p align="center">Twój stan konta to: {{clicker.getResoult(clicker.account)}} groszy!
      </p>
      <p style="font-size: 300%">
        <div class=row>
          <div class="col-5"></div>
          <div class="col-2">
            <b>
              <a href=#>
                <div (click)="clicker.upgrade()">ULEPSZ</div>
              </a>
            </b>
          </div>
          <div class="col-5"></div>
        </div>
        <p align=center>Koszt to tylko 10 groszy!</p>
        <app-no-cash-alert></app-no-cash-alert>
    </div>
    <!-- IN PROGRESS -->
    <div class="col-sm-3" style="background-color:rgb(108, 153, 115);">
      <p>Tu cos będzie...</p>
    </div>
  </div>
  <!-- LEGACY -->
  <p>
    <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  </p>
  <!--   {{human.pole}} {{human.metoda()}} -->
<script>setInterval(InvestmentsComponent.onInvestmentIncome,1000)</script>
<script>global.setInterval(console.log("pomocy"))</script>
<script>console.log("serio?")</script>
  <div class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->